.portfolio-graphic {
    width: 60%;
    height: 400px;
}

.portfolio-graphic-subtitle {
    width: 40%;
    display:flex;
    flex-direction: column;
    height: 400px;
}

.portfolio-asset-hist {
    height: 720px;
    width:auto;
}
