.button-main {
    width: 100%;
    height: 32px;
}

.button-main button {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border:none;
    background:#fff;
    color: #252525;
    border: solid 1px #252525;
    transition: background .5s;
    font-size: 14px;
}

.button-main button:hover {
    background: #aaa;
    color: #fff;
    box-shadow: none;
    transition: all .5s;
}