.main {
    background: #232323;
    color: #000;
    height: fit-content;
    width: 100%;
    height: 100vh;
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
}

.login-form {
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 5%;
}

.login-form-mobile {
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 5%;
}

.login-img {
    width: 50%;
    background: url("../../login-background.svg");
    background-blend-mode: lighten;
    background-color: #e3dba322;
    background-size: 145%;
    background-position: -70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 0 0 15px;
}

.login-img-mobile {
    width: 100%;
    height: 100%;
    background: url("../../login-background.svg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 15px 0 0;
}

.login-wrapper {
    display: flex;
    flex-direction: row;
    background: #fff;
    width: 50%;
    min-height: 80%;
    border-radius: 15px;
}

.login-wrapper-mobile {
    display: flex;
    flex-direction: column;
    background: #fff;
    width: 75%;
    min-height: 80%;
    border-radius: 15px;
}

.login-space {
    margin-bottom: 120px;
}