.earning-form {
    width: 100%;
}

.earning-header {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.earning-list {
    display:flex;
    width: 100%;
}

.earning-list div {
    width: 100%;
}