* {
  font-family: "Inter", sans-serif !important;
}

@font-face {
  font-family: "Inter";   /*Can be any text*/
  src: local("Inter-VariableFont_slnt"),
    url("./fonts/Inter-VariableFont_slnt\,wght.ttf") format("truetype");
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.navbar-custom {
  background-color: #FDFDFD !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.navbar-custom .container {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.navbar-custom .navbar-brand {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.navbar-custom .nav-link {
  color: #000 !important;
}

.subnavbar-custom .nav-link {
  color: #FFF !important;
  font-weight: 200;
}

.subnavbar-custom .nav-item {
  margin: 0px 16px;
}

.subnavbar-custom {
  height: 38px;
  background-color: #3F3F3F !important;
}

.logo {
  background-color: #000;
  width: 217px;
  height: 78px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.subnav-custom {
  width: 100%;
  justify-content: end;
  margin-right: 40px;
}

.dropdown-menu-dark, .dropdown-menu-dark .dropdown-item, .dropdown-item a {
  background-color: #3F3F3F !important;
  color: #ddd !important;
}

.dropdown-menu {
  border: solid 1px rgb(165, 165, 165) !important;
}

.main-date-control {
  border: solid 1px #000 !important;
}

/* .dropdown-item:hover {
  background-color: rgb(213, 213, 213) !important;
  transition: all .5s;
} */

.dropdown-item a {
  background-color: rgba(0, 0, 0, 0) !important;
}

.dropdown-item a:hover {
  color: #000000 !important;
}


.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

table {
  width: 100%;
}

table thead {
  background:#3F3F3F;
  color: white;
}

table thead th {
  font-weight: 200;
  text-align: center;
}

table tbody td {
  border-collapse: none;
  border: solid 1px #ccc;
  background: #eee;
  padding:5px 10px;
}

table tbody tr:nth-child(even) td{
  background: #ddd;
}