* {
  font-family: "Inter", sans-serif !important;
}

@font-face {
  font-family: "Inter";   /*Can be any text*/
  src: local("Inter-VariableFont_slnt"),
    url("./fonts/Inter-VariableFont_slnt\,wght.ttf") format("truetype");
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.navbar-custom {
  background-color: #050F33 !important;
}

.dropdown-menu-dark, .dropdown-menu-dark .dropdown-item, .dropdown-item a {
  background-color: #050F33 !important;
  color: #ddd !important;
}

.dropdown-menu {
  border: solid 1px rgb(165, 165, 165) !important;
}

/* .dropdown-item:hover {
  background-color: rgb(213, 213, 213) !important;
  transition: all .5s;
} */

.dropdown-item a {
  background-color: rgba(0, 0, 0, 0) !important;
}

.dropdown-item a:hover {
  color: #F1D302 !important;
}


.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

table {
  width: 100%;
}

table thead {
  background:#050F33;
  color: white;
}

table thead th {
  font-weight: 200;
  text-align: center;
}

table tbody td {
  border-collapse: none;
  border: solid 1px #ccc;
  background: #eee;
  padding:5px 10px;
}

table tbody tr:nth-child(even) td{
  background: #ddd;
}